/* FONTS, BODY & MAIN ATTRIBUTES */

@font-face {
  font-family: "titre1";
  src: url(polices/Hero-Corp_Police.ttf);
}

@font-face {
  font-family: "sous_titre";
  src: url(polices/sous_titre.ttf);
}

@font-face {
  font-family: "texte";
  src: url(polices/Navbar_text.ttf);
}

html {
  font-size: 62.5%;
}

body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

h1 {
  font-family: "titre1", Arial, Impact;
  font-size: 2.5rem;
  margin: auto;
}

.h1_form {
  padding: 1rem;
}

h2 {
  font-family: "sous_titre", Arial, Impact;
  font-size: 4.2rem;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10px;
}

form {
  text-align: center;
}

.main {
  font-family: "texte";
  font-size: 1.6rem;
  position: relative;
}

.contenu {
  margin-right: 5%;
  margin-left: 5%;
  position: relative;
  z-index: 2;
}

.container {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* NAVBAR */

.menu a,
.menu2 a {
  text-decoration: none;
  color: white;
}

.menu {
  background: red;
  color: #fff;
  height: 100px;
  padding-left: 2%;
  padding-right: 2%;
  position: relative;
  left: 0;
  align-items: center;
}

.menu a {
  text-decoration: none;
  color: white;
}

.main {
  top: 0px;
}
.herocorp_title {
  display: none;
}

.menu nav {
  background: inherit;
  height: 0;
  overflow: hidden;
  transition: height 0.2s;
  z-index: 3;
  position: relative;
  margin-right: -20px;
  margin-left: -20px;
}

.menu nav > * {
  display: block;
  width: 100%;
}

.menu .burger {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  color: inherit;
  cursor: pointer;
  right: 5px;
  position: absolute;
  width: 90px;
}

.image_logo {
  height: 85px;
  margin: 5px;
}

.menu .burger:before {
  content: url(../images/icones/burger_menu.svg);
  filter: invert(1);
}

.menu .burger:checked {
  content: url(../images/icones/burger_menu.svg);
}

.menu .burger:checked + nav {
  height: calc(20vh - 50px);
}

nav {
  text-align: center;
  display: block;
  font-family: "texte";
  font-size: 2.5rem;
}

.menu2 {
  display: none;
}

.flex-container {
  display: flex;
}

#logo_image {
  height: 85px;
  margin: 5px;
}

/* NAVBAR DESKTOP */

@media all and (min-width: 768px) {
  .menu {
    display: none;
  }

  #logo_image {
    height: 50px;
    margin: 5px;
  }

  .menu2 {
    display: flex;
    background: red;
    position: fixed;
    z-index: 3;
    justify-content: space-between;
    left: 0;
    right: 0px;
    color: white;
    height: 55px;
    align-items: center;
    text-shadow: 1px 1px 1px black;
  }

  .menu2_nav {
    width: 50%;
    display: flex;
    justify-content: space-around;
    font-family: "texte";
    font-size: 2rem;
  }

  .herocorp_title {
    display: block;
  }

  .main {
    top: 50px;
  }
}

/*FOOTER*/

footer {
  background-color: red;
  height: 21%;
  position: relative;
  z-index: 3;
  margin-top: 50px;
}

footer h1 {
  margin-top: 5%;
  width: 100%;
  text-align: center;
  color: white;
  text-shadow: 1px 1px 3px black;
}
.icons {
  width: 50px;
}

.icons_div {
  width: 20%;
  display: flex;
  justify-content: center;
  margin-left: 41%;
}

#city_footer {
  width: 100%;
  margin-bottom: -5px;
}

.contact_links p {
  font-size: 2.5rem;
}

.contact_links a {
  text-decoration: none;
  color: white;
}

/* PAGE CV */

#main_contact {
  padding-bottom: 7vh;
  padding-top: 2vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

.cover_cv {
  height: 100%;
  z-index: 1;
  position: relative;
}

.image_cover_cv {
  width: 100%;
}

.contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-family: "sous_titre", arial, impact;
  font-size: 3rem;
  text-align: center;
}

#image_presentation {
  height: 150px;
}

.box {
  background-color: #ececec;
  margin: 20px;
  padding: 20px;
}

#box_cv_video {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7%;
  padding-top: 0px;
}

.box_videos {
  width: 100%;
  margin: 3%;
}

.video {
  width: 100%;
}

/*PAGE INDEX*/
.cover_index {
  padding: 0;
}

.row {
  margin-bottom: 30px;
}
.cover_texte {
  bottom: 36px;
  width: 100%;
  color: white;
}
.search_bar {
  right: 5px;
  bottom: 5px;
}
.cover_texte h1 {
  font-size: 10vw;
  text-shadow: 1px 1px 3px black;
}
h5 {
  font-family: "titre1";
  font-size: 2.5rem;
}
.card {
  margin: 30px;
}
label {
  display: block;
  font: 1rem "Fira Sans", sans-serif;
}

input,
label {
  margin: 0.4rem 0;
}
input {
  border-radius: 5px;
  border-color: black;
}
.pull-right {
  float: right;
  margin: 5px;
}
/* PAGE EQUIPE */

.photo_cv {
  max-width: 30%;
  height: auto;
  box-shadow: 1px 1px 3px grey;
}

.cover_cv_photo {
  height: 20%;
  width: 100%;
}

.box_contact {
  text-align: center;
  margin: 20px;
}

.contenu {
  margin: 20px;
  margin-bottom: -70px;
}

#texte_equipe {
  background-color: #ececec;
  text-align: center;
  padding: 20px;
}

.box_contact h2 {
  text-shadow: 1px 1px 1px rgb(173, 173, 173);
}

/* PAGE CONTACT */

/* PAGE GOODIES */
.cover_produit
{
  width:100%;
  min-height:100%;
  object-fit: fill;
}

/* RESPONSIVE */

/* TABLETS & WIDER */

@media all and (min-width: 768px) {
  footer h1 {
    font-size: 3rem;
  }

  #image_presentation {
    height: 280px;
  }

  .nom h1 {
    font-size: 4.5rem;
  }
  .coordonnee {
    font-size: 4rem;
  }

  .contact {
    margin-bottom: 50px;
  }

  .video {
    height: 300px;
  }

  li {
    margin-left: 70px;
    font-size: 2rem;
  }
  .contenu {
    bottom: 120px;
    margin-bottom: -100px;
  }

  /* PAGE EQUIPE TABLETS */

  #page_cv {
    display: flex;
    flex-wrap: wrap;
  }
  .box_contact {
    width: 40%;
    margin: auto;
    padding: 20px;
  }

  .photo_cv {
    max-width: 50%;
  }
}

/* DESKTOP & WIDER */

@media all and (min-width: 1025px) {
  footer h1 {
    font-size: 5rem;
  }
  .icons {
    width: 70px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
  }

  .container {
    padding-right: 2vw;
    padding-left: 2vw;
  }

  #image_presentation {
    height: 500px;
  }
  .contenu {
    bottom: 150px;
    margin-bottom: -140px;
  }
  .nom h1 {
    font-size: 7rem;
  }
  .coordonnee {
    font-size: 5rem;
  }

  .contact {
    margin-bottom: 70px;
  }

  .video {
    height: 400px;
    margin-top: 20px;
  }
  #box_cv {
    display: flex;
    height: 500px;
  }

  .box_videos {
    width: 40%;
  }

  #box_cv_video {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 40px;
  }

  .box {
    width: 40%;
    padding-top: 5%;
  }

  /* PAGE EQUIPE DESKTOP */

  .cover_cv {
    background-image: url(../images/site/cover_equipe.jpg);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: local;
    height: 55vh;
  }
  .cover_cv_photo {
    display: none;
  }
}

/* MEDIA QUERIES RELOU POUR OVERRIDE BOOTSTRAP (JEREMY) */

@media all and (max-width: 575px) {
  .contact_links p {
    text-align: center !important;
  }
}

